.but{
    display: flex;
    padding: 10px 24px;
    
}

.food1{

    margin: 10px;
    width: 120px;
    height: 120px;
}



.dname{

    color: rgba(66, 66, 66, 1);
    margin-bottom: 100px;
}

.food2{

    
    width: 180px;
    height: 150px;
    border-radius: 10%;
}

.but1{

   margin-bottom: 50px;
   width: 180px;
   border-radius: 10px;
   background-color: rgba(241, 114, 40, 1);
   font-size: 10px;
   font-weight: bolder;
   color:antiquewhite;
   padding:10px;
   border: none;
}

.but2{

    border: none;
    
    background-color:#090D12 ;
    color:#fff;
    text-align: left;


}

.word{

    margin-top: 40px;
    margin-bottom: 5px;
    color: #fff;
}

.line{

   
    height: 3px;
    background-color:#424242;
    border-radius: 25%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.line1{

    height: 3px;
    background-color:#424242;
    border-radius: 25%;
    margin-top: 100px;
    margin-bottom: 20px;
}

.food3{

    text-align: center;
    margin:70px 0px 20px;
    width:200px;
    height:200px;
}
.word1{
    color:rgba(66, 66, 66, 1);
    
}

.delivery{
    background-color: rgba(241, 114, 40, 0.2);
    color: rgba(241, 114, 40, 1);
    display: inline;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    
}

.leaf1{

    width: 100%;
    height: 300px;
    

}

